/* titel pagina */
.menu{
  width: 99%;
}

.menu-logo{
  float: right;
  width: 3.5%;
  height: 3.5%;
}
ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul li {
  float: left;
  width: 19.3%;
  height: 50px;
  background-color: black;
  opacity: .8;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
}
ul li a {
  text-decoration: none;
  color: white;
  display: block;
}
ul li a:hover {
  background-color: green;
  opacity: .2
  color: white;
}
ul li ul li {
  display: none;
  width: 100%;
}
ul li:hover ul li {
  display: block;
}
a {
  text-decoration: none;
  color: black;
}
.dezepagina{
  background-color: darkgreen;
}

/* titel elke pagina */
.titel_index{
  border: 4px outset RGBA(48,155,87,0.7);
  background-color: RGB(230,255,230);
  width: 96%;
  height: 1%;
}
.titel_index h1, .titel_index h2{
  font-family: "Times New Roman";
  color: black;
  padding: 2px;

}

body{
  background-image: url("fotos/oosterparkbackground.jpg");
  background-repeat:no-repeat;
  background-size: cover;
}

/* lessen pagina */
.introvak{
  background-color: RGBA(48,155,87,0.7);
  color: black;
  width: 95.3%;
  border: 2px inset RGBA(48,155,87,0.7);
}
.infoschoolmateriaal{
  background-color: RGBA(48,155,87,0.7);
  color: black;
  border: 2px inset RGBA(48,155,87,0.7);

  width: 96%;
}
.infolesjes{
  background-color: RGBA(48,155,87,0.7);
  border: 2px inset RGBA(48,155,87,0.7);
  width: 96%;
  padding: 1%;
}





.tabellesjes{
  border-collapse: collapse;
  width: 100%;
  margin: 1%;
  table-layout: fixed;
}
.tabellesjes th,.tabellesjes td {
  text-align: left;
  padding: 8px;
  vertical-align: top;
}
.tabellesjes th {
  background-color: #309B57;
  color: #E6FFE6;
}
.tabellesjes{
  background-color: #E6FFE6
}
.populairste{
  background-color: RGBA(118,238,198,0.9);
  color: black;
  border: 2px;
  border-style: inset solid;
  border-color: RGBA(48,155,87,0.7);
  display: flex;
  justify-content: space-between;
}
.pop{
  border: 1px inset;
  border-color: RGBA(48,155,87,0.7);
  margin: 2%;
  padding: 1%;
  padding-right: 1%; */
  width: 15%;
  text-align: left;
  color: black;
}
.docenteninfo{
  background-color: RGBA(48,155,87,0.7);
  color: black;
  border: 2px inset;
  border-color: RGBA(48,155,87,0.7);
  width: 96%;
}

/* home pagina */
.beacons_index, .samenwerking_index, .bewegen_index, .beacons_index h2, .bewegen_index h2, .samenwerking_index h2{
  font-family: "Times New Roman";
  color: black;
  text-align: left;
  border: 4px outset RGBA(48,155,87,0.7);
  width: 96%;
  background-color: RGBA(48,155,87,0.7);
  padding: 2px;
  display: flex;
  flex-direction: column;
}
.beacons_index img, .bewegen_index img{
  float: right;
  width: 40%;
}
.samenwerking_index img{
  float: right;
  width: 20%;
}
.beacons_index, .samenwerking_index, .bewegen_index, h1{
  font-family: "Times New Roman";
  color: black;
  text-align: left;
}

/* bedenker */
.bassisinfo_bedenker, .contact_bedenker, .interview_bedenker{
  font-family: "Times New Roman";
  color: black;
  text-align: left;
  border: 4px outset RGBA(48,155,87,0.7);
  width: 96%;
  background-color: RGBA(48,155,87,0.7);
  padding: 2px;
  display: flex;
  flex-direction: column;
}
.bassisinfo_bedenker img{
  float: right;
  width: 40%;
  height: 40%;
}
.contact_bedenker img{
  float: left;
  width: 5%;
}
/* overons */
.wij_overons{
  font-family: "Times New Roman";
  color: black;
  text-align: left;
  border: 4px outset RGBA(48,155,87,0.7);
  width: 96%;
  background-color: RGBA(48,155,87,0.7);
  padding: 2px;
  display: flex;
  flex-direction: column;
}
.wij_overons img{
  float: right;
  width: 20%;
}
/* metis */
.tekst_metis{
  font-family: "Times New Roman";
  color: black;
  text-align: left;
  border: 4px outset RGBA(48,155,87,0.7);
  width: 96%;
  background-color: RGBA(48,155,87,0.7);
  padding: 2px;
  display: flex;
  flex-direction: column;
}
.img_metis img{
  float: center;
  width: 100%;
}
.img_metis{
  font-family: "Times New Roman";
  color: black;
  text-align: left;
  border: 4px outset RGBA(48,155,87,0.7);
  width: 96%;
  background-color: RGBA(48,155,87,0.7);
  padding: 2px;
  display: flex;
  flex-direction: column;
}
.link_metis{
  font-family: "Times New Roman";
  color: black;
  text-align: center;
  border: 4px outset RGBA(48,155,87,0.7);
  width: 96%;
  background-color: RGB(230,255,230);
  padding: 2px;
  display: flex;
  flex-direction: column;
}
/* waargaathetover */
.tekst_wgho{
  font-family: "Times New Roman";
  color: black;
  text-align: left;
  border: 4px outset RGBA(48,155,87,0.7);
  width: 96%;
  background-color: RGBA(48,155,87,0.7);
  padding: 2px;
  display: flex;
  flex-direction: column;
}
/* footer elke pagina */
.footer{
  background-color: black;
  color: white;
}

.links {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

.links:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}
